* {
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

.playerHealth {
    background-color: red;
    height: 30px;
    width: 100%;
    border-radius: 2px;
}

.playerHealth-bg-bar {
    position: absolute;
    background-color: rgb(0, 132, 255);
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

.playerHealth-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
}

.timer {
    background-color: red;
    border-radius: 40px;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 4em;
    color: white;
}

.enemyHealth {
    background-color: red;
    height: 30px;
    border-radius: 2px;
}

.enemyHealth-bg-bar {
    position: absolute;
    background-color: rgb(0, 132, 255);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.enemyHealth-container {
    position: relative;
    height: 30px;
    width: 100%;
}


.health-bar-bg {
    background-color: red;
}

.UIContainer {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.container {
    position: relative;
    display: inline-block;

}

.game-over-container {
    position: absolute;
    color: rgb(255, 255, 255);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 5em;
    z-index: 1;
}

/* .game-over-text {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    z-index: 1;
    
} */